body{
    background-color: rgb(231, 231, 231);
}
.photo{
    width: 250px;
    height: auto;
}
.photoLinks{
    border: none;
}
.title{
    font-size: 25px;
    margin-bottom: 0px;
    display: flex;
    flex-wrap: wrap;
}
.div{
    display: flex;
    flex-direction: column;
    gap: 10px;
}