<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Books</title>
        <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
    </head>
    <body>
        <div>
            {% for artwork in artworkList%}
            <p id="title"><b>{{ artwork["title"] }}</b></p>
            <!--<p id="artist">{{ artwork["artist_display"] }}</p>-->
            <p id="artworkId">{{ artwork["id"] }}</p>
            <a class="photoLinks" href="{{ url_for('artworkDetail', id=artwork['id']) }}"><img class='artworkPhoto' src="https://www.artic.edu/iiif/2/{{artwork['image_id']}}/full/843,/0/default.jpg" alt="artwork photo"></a>
            {% endfor %} 
        </div>
    </body>
</html>
