<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Books</title>
        <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
    </head>
    <body>
        <div>
            {% for artwork in artworkList%}
            
            <p>{{ artwork[imageData] }}</p>
            <p>{{ imageData["data"]["image_id"] }}</p>
            <p>{{ imageData["config"]["iiif_url"] }}</p>
            <p>{{ artwork["title"] }}</p>
            <p>{{ artwork["artist_display"] }}</p>
            <p>{{ artwork["id"] }}</p>
            <img src="">
            {% endfor %}
            
        </div>
    </body>
</html>
