<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Artworks</title>
        <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
    </head>
    <body>
        <div>
            <form method="get" action="/">
                <label for="year_range">Select year range:</label>
                <select name="range" id="year_range" onchange="this.form.submit()"> 
                    <option value="" >select year range</option>
                    <option value="1900-2025">1900-2025</option>
                    <option value="1800-1899">1800-1899</option>
                    <option value="1700-1799">1700-1799</option>
                </select>
                {% for artwork in artworkList%}
                <p id="title"><b>{{ artwork["title"] }}</b></p>
                <a class="photoLinks" href="{{ url_for('artworkDetail', id=artwork['id']) }}"><img class='artworkPhoto' src="https://www.artic.edu/iiif/2/{{artwork['image_id']}}/full/843,/0/default.jpg" alt="artwork photo"></a>
                {% endfor %} 
            </form>
        </div>

        <script>
           function filterByYear() {
            const yearRange = document.getElementById('yearSelect').value;
            if (yearRange) {
                window.location.href = `/?range=${yearRange}`;
            }
            }
        </script>
    </body>
</html>